*.a
*.out
*.o
tester1
checker_linux
42Barcelona-PushSwap-ProChecker
complexity
push_swap_tester
Push-Swap-Tester
push_swap_test_linux.sh
push_swap_test.sh
traces.txt
visualizer-push-swap
push_swap
visu_test
log_error
checker
WiLDCaT_tester_push_swap.bash

